body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}

.header
{
    display:flex;
    flex-direction: column;
    gap:50px;
    background-color: grey;
    margin-bottom: 10px;
    padding: 0 80px 80px 80px;
}



h2,h3
{
    margin: 0;
}

.hold
{
    display:flex;
    justify-content: space-between;

}
.container
{
    display:flex;
    justify-content: space-between;
    /* align-items: flex-end; */
}

.shcontainer p
{
    font-size: 20px;
}

p
{
    margin: 0;
}

ul
{
    display: flex;
    margin:0;
    padding: 0;
    gap:20px;
}
.ibox
{
    background-color: black;
    width: 500px;
    /* align-self: flex-end; */
    /* height: 200px; */
}

.box
{
    background-color: rgb(255, 255, 255);
    width:100px;
    height: 105px;
    border-radius: 10px;
    border: 2px solid blue;
}


.subcontainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-bottom: 10px;
    /* width: 100px; */
    /* height: 100px; */
}


.subtext
{   
    padding: 10px;
    border: 10px blue;
}

.thor
{
    background-color: rgb(225, 224, 224);
    width: auto;
    padding: 80px 80px 80px 80px;
    height: 100px;
    margin-bottom: 50px;


}
.subthor
{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    font-size:30px;
}

.subthor2
{
    text-align: right;
}

.ctatainer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(115, 115, 254);
    height:100px;
    width: auto;
    margin:50px;
    border-radius: 10px;
    
}

.cta
{
    padding:20px;
}

.signup
{
    margin: 20px;
    width: 100px;
    height:30px;
    border-radius: 10px
}
.column
{
    display: flex;
    gap:20px;
    /* justify-content: space-between; */
}

.footer
{   
    height:50px;
    text-align: center;
    background-color: rgb(88, 87, 87);
    margin-top: auto;
}