body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header
{
    background-color: grey
}

.hold
{
    display:flex;
    justify-content: space-between;
}

li
{
    display: flex;
}

.container
{
    display: flex;
    justify-content: space-between;
}

.subcontainer
{
    display: flex;
    width: 100px;
    height: 100px;
}

.subtext
{   
    padding: 10px;
    border: 10px blue;
}

.thor
{
    background-color: rgb(187, 187, 187);
    width: auto;
    height: 200px
}

.ctatainer
{
    display: flex;
    justify-content: space-around;
    background-color: rgb(115, 115, 254);
    
}


.footer
{
    background-color: rgb(88, 87, 87);
    margin-top: auto;
}